<form id='project-form'>
  <h1>Create a project</h1>
  <lable for='title'>Project Title</lable>
  <input type='text' name='project[name]' id='title'><br>
  <lable for='description'>Description</lable>
  <textarea name='project[description]' id='description'></textarea><br>
  <lable for='goal'>Your Support Goal</lable>
  <input type='text' name='project[goal]' id='goal'><br>
  <lable for='enddate'>When Will Your Support Drive End?</lable>
  <html lang="en">
  <input type='datetime' id="datepicker" name='project[end_time]'></div>
  <script>
    $( "#datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
  </script><br>
  <button class='show-modal btn btn-primary' data-toggle='modal'
                       data-target='#myModal'>Add a Reward Level</button><br>
  <ul id='rewards'>
  </ul>


  <button id='create' class="btn btn-primary">Create Project</button>
</form



<div class='modal fade'>

  <div class='modal-dialog'>

    <div id='myModal' class='modal-content' style='display:none;'>
      <lable for='add-reward'>Add a Reward Level</lable>
      <form id='add-reward'>
        <lable for='amount'>Support Amount</lable>
        <input type='text' name='reward[support_amount]'>
        <lable for='reward'>Supporter Reward</lable>
        <textarea name='reward[supporter_reward]'></textarea>
        <button class='hide-modal' class='btn btn-default' data-dismiss='modal'>
                                                               Close</button>
        <input type='submit' class='btn btn-primary hide-modal' value='Add this Reward Level' >
      </form>
    </div>
  </div>
</div>

