<h1><%= user.escape('username') %></h1>
<lable for='supports'>Supported Projects</lable>
<div class='row' id='supports'></ul>
</div><br>
<lable for='created'>Created Projects</lable>
<div class='row' id='created'></ul>
</div>

    