  <lable for='reward'>Reward</lable>
  <input style='text' name='reward[supporter_reward][<%= reward_counter %>]' id='reward'>
  <lable for='amount'>Amount</lable>
  <input style='text' name='reward[support_amount][<%= reward_counter %>]' id ='amount'>
  <div id='add_reward'>
    <button id='new_reward' value='Add a Reward Level'></button>
  </div>

