<h1>Create a project</h1>
<% @reward_counter = 0 %>
<form action='<%= projects_url %>' method='post'>
  <input type='hidden' name='authenticity_token' id='authenticity_token' value= '<%= form_authenticity_token %>'>
  <lable for='title'>Project Title</lable>
  <input type='text' name='project[name]' id='title'><br>
  <lable for='description'>Description</lable>
  <textarea name='project[description]' id='description'></textarea><br>
  <lable for='goal'>Your Support Goal</lable>
  <input type='text' name='project[goal]' id='goal'><br>
  <lable for='enddate'>When Will Your Support Drive End?</lable>
  <input type='datetime' name='project[end_time]' id='enddate'><br>
  <div id='add_reward'>
    <button id='new_reward' value='Add a Reward Level'></button>
  </div>
  <input type='submit' value='Create Project'>
</form>

<script>


$('#add_reward').on('click', function (event) {
  console.log("clicked a button");
  <% render_partial %>
});
</script>