<div class='navbar navbar-default navbar-fixed-top'>
  
  
  <div>
    <ul class='nav nav-pills'>
	  <li class='active'><a href='#'>Home</a></li>
	  <li class='active'><a href='#/projects/new'>Create A New Project</a></li>
	  <li class='dropdown active'>
	    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
		  Browse <span class='caret'></span>
		</a>
		<ul class='dropdown-menu'>
        </ul>
      </div></li>		
	</ul>
	
  </div>
</div>