<div class='navbar navbar-default navbar-fixed-top' id='navbar'>
  <div class='navbar-header'>
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='navbar'>
  </div>

  <div>
    <a href=''>Home</a>
  </div>
  <div>
    <a href='#/projects/new'>Create A New Project</a>
  </div>
</div>