<div class='hero-unit'>
  <h1>Welcome to KickLauncher</h1>
  <div><h3>A place to come together to reach the stars.</h3></div>
	<br>
  <p>
    <a class='btn-primary btn-large' href='#index'>Browse Our Projects</a>
  </p>
</div>